.game-board{
	border:solid 2px;
}
.grid {
	display: grid;
	grid-template-columns: 320px 200px;
}
.play-button{
	background-color: #ff0;
	padding:15px 30px;
	font-size: 40px;
	cursor: pointer;
}
.right-column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}