a {
	color:white;
	text-decoration:none;
}
.header { 
	background-color : #000000;
	width : 30%;
	height : 5vh;
	float:left;
}
.menu {
	height : 5vh;
	background-color : #990000;
	width : 69%;
	float:right;
}
.main {
	position: relative;
	height: 90vh;
	width: 57vw;
	background-color : #123456;
	float:left;
}
.list {
	height: 60vh;
	width: 39vw;
	background-color : #120056;
	float:right;
}
.status {
	height: 28vh;
	width: 39vw;
	background-color : #123456;
	float:right;
}
